.opening
  h1 Actrogue2
  
  p ~ under technical testings
  
  button(onClick=onClick) Game Start
  
  h2 操作方法
  p
    dl
      dt WASD or ↑←↓
      dd プレイヤーの移動
      dt マウス
      dd 照準の移動
      dt 左クリック
      dd 発射
      dt 右クリック
      dd 弾を発射するトラップ
