// Variables

// Typography
$text-color: #4a4a4a;
$code-color: $text-color;
$code-bg: #f7f7f7;
$code-font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;
$bullet: '\002022';
$italic-font-family: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, sans-serif;
